# Python3.8 venv and  Ubuntu 22.04.4 LTS
absl-py
antlr4-python3-runtime
astunparse
cachetools
certifi
charset-normalizer
coloredlogs
contourpy
cycler
easydict
filelock
flatbuffers
fonttools
fsspec
gast
gdown
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
humanfriendly
idna
importlib_metadata
importlib_resources
imgaug
Jinja2
joblib
keras
kiwisolver
lapx
libclang
llvmlite
Markdown
MarkupSafe
matplotlib
mpmath
networkx
numba
numpy
oauthlib
omegaconf
onnx
onnxruntime
opencv-python
opt-einsum
packaging
pandas
pillow
protobuf
psutil
Py-Boost
py-cpuinfo
pyasn1
pyasn1_modules
pygame
pyparsing
pyproj
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
shapely
six
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
torch
torchvision
tqdm
treelite
treelite-runtime
triton
typing_extensions
tzdata
ujson
ultralytics
ultralytics-thop
urllib3
Werkzeug
wrapt
wget
zipp
